@import url("https://fonts.googleapis.com/css2?family=quicksend:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url(./variables.css);

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #a82c48 !important;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: var(--secondary-color);
}
h2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  line-height: 3rem;
}
h4 {
  color: #43121d;
  font-family: "quicksend", sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
h5 {
  color: #43121d;
  text-transform: capitalize;
  font-family: "quicksend", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
p {
  font-size: 1rem;
  color: #555;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}

.btn {
  background-color: #a82c48;
  color: white;
}
