:root {
  --primary-color: #a82c48;
  --secondary-color: #43121d;
  --thirt-color: #f98169;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
  --primary-font: "roboto", sans-serif;
  --secondary-font: "quicksend", sans-serif;
}
